.box{
width: 300px;
height: 300px;
background-color: black;
}

div{
width: 100px;
height: 30px;
margin-top: 20px;
    background-color: white;
}

.first{
    animation-name: move ;
    animation-duration: 2s;
    position: relative;
}

.second{
    animation-name: rotate;
    animation-duration: 1s;
    position: relative;
}

@keyframes move{
    0%   {left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  { left:200px; top:250px;}
  75%  { left:0px; top:250px;}
  100% {left:0px; top:0px;}
}
@keyframes rotate{
    0%   {rotate:30deg; }
  25%  {rotate:35deg; }
  50%  {rotate:25deg; }
  75%  {rotate:35deg; }
  100% {rotate:25deg; }
}