.numbersContainer {
    width: 500px;
    margin-left: calc(50% - 250px);
    padding: 50px;

    display: flex;
    text-align: center;
justify-content: space-around;

    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #56440e; /* Purple color */
    font-weight: bolder;
  }

  .dogs{
    margin-right: 100px;
  }
  