.addBtn {

  color: black;
  background-color: rgb(221, 200, 129);
  width: 80px;
  height: 25px;
  border-radius: 30px;
  text-transform: none;
  font-size: 16px;
  border: none;
  margin-left: 50%;
margin-bottom: 20px;

  }
  
  .addBtn:hover {
    color: #000000; /* Darker primary color */
  
    background-color: rgb(221, 189, 129);
  }
  
  .addBtn:active {
    background-color: rgb(221, 189, 129);

  }