.addBtn {
    background-color: transparent;
  color: black;
  
  padding: 10px 20px;
  padding-bottom: 100px;
  border-radius: 30px;
  text-transform: none;
  font-size: 16px;
  border: none;
  position: relative;
  }
  
  .addBtn:hover {
    color: #113151; /* Darker primary color */
    background-color: transparent;
  }
  
  .addBtn:active {
    color: #162e46; /* Lighter primary color */
    background-color: transparent;
  }