#flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px;
    padding-left: 0px;
  }
  
  .li {
    width: 100px;
    height: 25px;
    margin: 10px;
    padding-top:10px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  #flexbox .li a {
    color: black;
    text-decoration: none;
  }
  
  nav {
    border: 1px solid #ebe1d4;
    background-color: #ebe1d4;
    border-radius: 3px;
  }
  
  li:hover {
    width: 100px; /* Increase the width */
    height: 35px; /* Increase the height */
    background-color: #e1ccb17d;
    border-radius: 25px;
    border-bottom:2px solid rgb(108 76 32);
   
  }
  

#header{
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
  padding-top: 30px;
  margin-top: -10px;
  align-items: baseline;
  justify-content: space-around;
}

h1{align-self: flex-start;}

  
  table {
      border-collapse: collapse;
      width: 100%;
    }
  
  
  
    
  
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
    html {
        font-size: 17px;
        text-align: center;
    }
    
    body {
        min-height: 100vh;
        
        margin: 0 auto;
        
    }
    
    th, td, caption {
        border: 1px solid #333;
        font-family: 'Courier New', Courier, monospace;
        border-collapse: separate;
        padding: 0.5rem;
    } 
  
    img{opacity: 0.5;}