body{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 200px;
 background-color: rgb(255, 255, 255);
 
 
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 250px;

}



.theTimer{
    display: flex;
    justify-content: center;
   font-weight: 900;
   
}

.btn-timer{
    background-color: transparent;
    border: none;
}

.timer{
    background-color: transparent;
    border: none;
    width: 500px;
    font-size: 250px;
    color: rgb(0, 46, 21);
}
.timer:focus{
 outline: none;
}
