body{
    background-color: rgb(236, 236, 236);
    color: #000000;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(92, 88, 88) 0.1px;
    padding: 20px;
    width: fit-content;
    margin: 150px auto auto auto;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
  }
  
  .center,
  h1 {
    display: flex;
    justify-content: center;
  }
  
  .pic {
    border-radius: 100%;
    border: solid rgb(92, 88, 88) 0.1px;
    height: 125px;
    width: 125px;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: transparent;
    border: solid rgb(92, 88, 88) 0.1px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(190, 179, 163, 0.699);
    color: #000000;
    border: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logIn,
  .signUp
  {
    text-align: center; 
  }
  
  .logIn {
    display: block;  
}
  
  .signUp,
  .forgat {
    display: none;
  }
  