body{
   background-color: rgb(143, 190, 226) ;

}

#p{
position: absolute;

padding: 10px;
background-color:rgb(186, 199, 209) ;
font-size: xx-large;
border: 10px solid black;
text-align: center;
width: 400px;
height: fit-content;


}

select{
    width: 100px;
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
}

#container{
    margin: 200px auto 0 auto;
    display: block;
position: relative;
height: 150px;
width: 400px;
}

#link{
position: relative;
bottom: -150px;
font-size: medium;
display: none;
}

#tior{
    position: relative;
top:  185px;
font-size: x-large;
}

#refreshBtn{
    width: 50px;
position: relative;
left: calc(50% - 25px );
top: 25px;
}