.layout {

     height: 100vh;
  }
  
  .content {
    flex: 1;
    background-color: white;
    width: 100%;
  }
  .header{
    background-color: #c7ec3e75;
  }
  
  .footer {
    flex-shrink: 0;
    background-color: #c7ec3e75;
}
  
  body{
    margin: 0;
  }