html, body {
    min-height: 100%;
}

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:90px 
    ;background-image: linear-gradient(to right top, #350780, #3a4fad, #5987ce, #92bde7, #dcf1ff);
}

.text{
    font-family: 'Liquid', sans-serif;
    font-size: 130px;
color: rgb(2, 3, 23);

}

.heart {
   
    --c: #4BFCE1;
    width: 100px;
    aspect-ratio: 1;
    background:
     radial-gradient(at 70% 31%,var(--c) 29%,#ffffff00 30%),
     radial-gradient(at 30% 31%,var(--c) 29%,#cdc2c200 30%),
     conic-gradient(from -45deg at 50% 84%,var(--c) 90deg,#0000 0) 
      bottom/100% 50% no-repeat;
      
      animation-duration: 1s;
      animation-iteration-count: infinite;
  }

  @keyframes size{
    0%   {width: 100px;}
25% {width: 170px;}
 50% {width: 100px;}
 75% {width: 170px;}
    100% {width: 100px;}  
}

  .p{
    font-family: 'Courier New', Courier, monospace;
    margin: 25px;
  }