.topBarButton {
    background-color: transparent;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: none;
  font-size: 16px;
  border: none;
  position: relative;
  }
  
  .topBarButton:hover {
    color: #113151; /* Darker primary color */
    background-color: transparent;
  }
  
  .topBarButton:active {
    color: #162e46; /* Lighter primary color */
    background-color: transparent;
  }

  .logo{
    width:60px;
    height:60px;
    border-radius:50%;
  }

  .toolBar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .stickyTopBar {
    position: sticky;
    top: 0;
    z-index: 999; /* Adjust as needed */
  }