*{
    box-sizing: border-box;
}

.calculator{
    margin: 100px auto;

    width: 350px;
    height: 500px;
    background-color: #C3AA96;
position: relative;


border: 1px black solid;
border-radius: 22px;
}


.screen{
    position: absolute;
    width: calc(100% );
    height: 33%;
    
    border: none ;
    border-bottom: 1px black solid;
     background-color: #F4BBC1;
    border-radius: 20px 20px 5px 5px;
font-size: 80px;
}

.buttons{
    position: absolute;
top: calc(33% + 8px);


}


.btn{
    width: 100px;
    height: 50px;
    margin-bottom: 4px;
    margin-left: 10px;

background-color: #FCE1CC;
    border: 1px black solid;
border-radius: 20px;
}

.equal{
    width: 213px;
}
