.cardButton {
    background-color: transparent;
  color: black;
  padding: 10px 20px;

  border-radius: 30px;
  text-transform: none;
  font-size: 16px;
  border: none;

 
  }
  
  .cardButton:hover {
    color: #113151; /* Darker primary color */
    background-color: transparent;
  }
  
  .cardButton:active {
    color: #060d14; /* Lighter primary color */
    background-color: transparent;
  }

  .petCard {
    margin-left: calc(50% - 140px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.2s;
    margin-bottom: 20px;
 
  }
  
  .petCard:hover {
    transform: translateY(-5px);
  }
  .cardContainer{
    width: 200px;
  }