.card {
    background-color: transparent;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: none;
  font-size: 16px;
  border: none;
  position: relative;
  }
  
  .card:hover {
    color: #113151; /* Darker primary color */
    background-color: transparent;
  }
  
  .card:active {
    color: #060d14; /* Lighter primary color */
    background-color: transparent;
  }